extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  if(record.title)
    h1(class="mb-4") #{record.title}


  if(record.parent.title)
    div(class="mb-4") Thuộc danh danh mục: #{record.parent.title}

  if(record.description)
    div(class="mb-4") Mô tả danh mục: <b>!{record.description}</b>

  if (record.thumbnail)
    div(class="mb-4")
      img(
        src=record.thumbnail
        style="width: 200px"
      )

  if (record.status)
    div(class="mb-4")
      span Trạng thái:
      if (record.status === "active")
        span(class="badge badge-success") Hoạt động
      else
        span(class="badge badge-danger") Dừng hoạt động

  if (record.position)
    div(class="mb-4") Vị trí: <b>#{record.position}</b>

  a(
    href=`${prefixAdmin}/products-category/edit/${record.id}`
    class="btn btn-warning"
  ) Chỉnh sửa
